@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #ebdfc6;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
  color:black

}
 h1{
  font-size: 3.2em;
  font-weight: 500;
  line-height: 1.1;
 color: #ec3a26;
 font-family: "Monoton", sans-serif;
 
 }
